<h1 class="page-title"><span class="fw-semi-bold">Invoice</span></h1>
<div data-ng-controller="InvoiceCtrl">
    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <div class="widget-body">
                    <form class="form-horizontal" role="form">
                        <fieldset>

                            <div class="row">
                                <div class="col-sm-6">
                                    <fieldset>
                                      <input type="hidden" id="customerId" class="form-control" ng-model="data.customerId" readonly="readonly">

                                        <input type="hidden" id="invoiceId" class="form-control" ng-model="data._id" readonly="readonly">

                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Invoice No</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="address1-field" class="form-control" ng-model="data.invoiceNumber">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Customer</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="address1-field" class="form-control" ng-model="data.customer">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Sales Person</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="address1-field" class="form-control" ng-model="data.salesPerson">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Date</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="address1-field" class="form-control" ng-model="data.date">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Invoice Type</label>
                                            <div class="col-sm-8">

                                                <select id="invoiceType" class="selectpicker" data-selectpicker data-width="auto" ng-model="data.invoiceType">
                          <option></option>
                          <option>Basic</option>
                          <option>Advanced</option>
                        </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Paid By</label>
                                            <div class="col-sm-8">

                                                <select id="paidBy" class="selectpicker" data-selectpicker data-width="auto" ng-model="data.paidBy">
                          <option></option>
                          <option>Cash</option>
                          <option>Check</option>
                          <option>Card</option>
                          <option>Paypal</option>
                        </select>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Pmt ID</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="address1-field" class="form-control" ng-model="data.paymentId">
                                            </div>
                                        </div>
                                    </fieldset>
                                </div>


                                <div class="col-sm-6">
                                    <fieldset>

                                        <div class="form-group">
                                            <label for="shipVia" class="col-sm-3 control-label">Ship Via</label>
                                            <div class="col-sm-8">

                                                <select id="shipVia" class="selectpicker" data-selectpicker data-width="auto" ng-model="data.shipVia">
                          <option></option>
                          <option>USPS</option>
                          <option>UPS</option>
                          <option>FexEx</option>
                        </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="shipToName-field" class="col-sm-3 control-label">Ship To Name</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="shipToName-field" class="form-control" ng-model="data.shipToName">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Ship Address 1</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="address1-field" class="form-control" ng-model="data.shipAddress1">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Ship Address 2</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="address1-field" class="form-control" ng-model="data.shipAddress2">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Ship Address 3</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="address1-field" class="form-control" ng-model="data.shipAddress3">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Ship City</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="address1-field" class="form-control" ng-model="data.shipCity">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Ship State</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="address1-field" class="form-control" ng-model="data.shipState">
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="hint-field" class="col-sm-3 control-label">Ship Zip</label>
                                            <div class="col-sm-8">
                                                <input type="text" id="address1-field" class="form-control" ng-model="data.shipZip">
                                            </div>
                                        </div>

                                    </fieldset>
                                </div>


                            </div>

                        </fieldset>


                        <div  class="form-actions">
                            <div class="row">
                                <div class="col-sm-offset-1 col-sm-7">


                                  <h2>Line Items</h2>


                                  <!-- New line item modal -->


                                  <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                                    Add line item
                                  </button>

                                  <!-- Modal -->
                                  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                    <div class="modal-dialog modal-lg" role="document">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                          <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                                        </div>
                                        <div class="modal-body">

                                          <table data-datatable="ng" data-dt-options="dtOptions" class="table table-striped table-hover">
                                            <thead>
                                            <tr>
                                              <th>Action</th>
                                              <th>ID</th>
                                              <th>Description</th>
                                              <th class="no-sort hidden-xs">Price</th>
                                              <th class="hidden-xs">Style</th>
                                              <th class="hidden-xs">Case</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr data-ng-repeat="item in products">
                                              <td>
                                                <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#myModal" ng-click="addItem(item._id)">Add</button>
                                              </td>
                                              <td>{{item.itemNo}}</td>
                                              <td>{{item.title}}</td>
                                              <td>{{item.sellingPrice}}</td>
                                              <td class="hidden-xs"><a href="#">{{item.style}}</a></td>
                                              <td class="hidden-xs">{{item.case}}</td>
                                            </tr>
                                            </tbody>
                                          </table>

                                        </div>
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>







                                  <table class="table table-striped table-hover" width="75%">
                                      <thead>


                                          <tr>
                                              <th>Description</th>
                                              <th>Amount</th>
                                              <th></th>
                                          </tr>
                                      </thead>
                                      <tbody>


                                          <tr data-ng-repeat="lineItem in data.lineItems">
                                              <td>{{lineItem.name}}</td>
                                              <td>${{lineItem.amount}}</td>
                                              <td>

                                                <button type="button" class="btn btn-danger btn-sm" ng-click="removeItem($index)">
                                                  <span class="glyphicon glyphicon-minus" ></span> Remove
                                                </button>


                                              </td>
                                          </tr>
                                          <tr>
                                              <td><b>Subtotal</b></td>
                                              <td><b><span id="currency-default">{{data.subtotal | currency}}</span></b></td><td></td>
                                          </tr>
                                          <tr>
                                              <td><b>Shipping</b></td>
                                              <td><b><span id="currency-default">{{data.shipping | currency}}</span></b></td><td></td>
                                          </tr>
                                          <tr>
                                              <td><b>Tax</b></td>
                                              <td><b><span id="currency-default">{{data.tax | currency}}</span></b></td><td></td>
                                          </tr>
                                          <tr>
                                              <td><b>Total</b></td>
                                              <td><b><span id="currency-default">{{data.total | currency}}</span></b></td><td></td>
                                          </tr>

                                      </tbody>
                                  </table>



                                </div>
                            </div>
                        </div>


                        <div class="form-actions">
                            <div class="row">
                                <div class="col-sm-offset-4 col-sm-7">

                                    <button type="submit" class="btn btn-primary" ng-click="go()">Save</button>
                                    <a href="/#/app/inventory"><button type="button" class="btn btn-inverse"> Cancel</button></a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">



        </div>
    </div>
</div>
