<style>
    .form-group.required .control-label:after {
        content: " *";
        color: darkred;
    }
</style>

<script>
    function selectProduct(id) {
        scopeHolder.addItem(id);
    }
    function selectRepair(id) {
        scopeHolder.addRepair(id);
    }
</script>

<div data-ng-controller="LogItemCtrl">

    <div class="row">
        <div class="col-md-10">
            <h1 class="page-title"><span class="fw-semi-bold">Log</span></h1>
        </div>
        <div class="col-md-2">

            <div ng-if="data._id" style="height: 50px;">
                <div class="btn-group dropdown hidden-print">
                    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" data-original-title=""
                        title="">
                        &nbsp; Action &nbsp;
                        <i class="fa fa-caret-down"></i>
                    </button>

                    <ul class="dropdown-menu">
                        <li ng-if="data.oldLog==false" ng-disabled="true"><a href="#" data-toggle="modal"
                                data-toggle="modal" data-target="#addImagesModal">Add Images</a></li>
                        <li><a ng-click="print()"><i class="fa fa-print"></i> Print</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <section class="widget">
                <div class="widget-body">
                    <form class="form-horizontal" role="form" name="logItemForm">
                        <div class="row">
                            <div class="col-sm-12">

                                <fieldset>
                                    <div class="form-group" ng-if="data.date!=null">
                                        <label for="date" class="col-sm-3 control-label">Date</label>
                                        <div class="col-sm-8">

                                            <input type="text" id="date" class="form-control"
                                                value="{{data.date | date : 'MM/dd/y'}}" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="form-group required">
                                        <label for="receivedFrom" class="col-sm-3 control-label">Received
                                            From</label>
                                        <div class="col-sm-8">

                                            <select id="receivedFrom" class="selectpicker" data-selectpicker
                                                data-width="auto" required ng-model="data.receivedFrom">
                                                <option></option>
                                                <option>FedEx</option>
                                                <option>UPS</option>
                                                <option>USPS</option>
                                                <option>Courier</option>
                                                <option>Other</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="customerName" class="col-sm-3 control-label">Customer
                                            Name</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="customerName" class="form-control"
                                                ng-model="data.customerName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="receivedBy" class="col-sm-3 control-label">Received
                                            By</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="receivedBy" class="form-control"
                                                ng-model="data.user">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="comments" class="col-sm-3 control-label">Note/Comment</label>
                                        <div class="col-sm-8">
                                            <textarea id="comments" rows=6 cols="40"
                                                ng-model="data.comments"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-sm-offset-1 col-sm-10">
                                                <h2>Items</h2>
                                                <div ng-if="data._id==null">
                                                    <!-- New line item modal -->
                                                    <button button type="button" class="btn btn-success"
                                                        data-toggle="modal" data-target="#productModal">
                                                        Inventory item
                                                    </button>

                                                    <button type="button" class="btn btn-info" ng-click="addMisc()">
                                                        Misc item
                                                    </button>

                                                    <button type="button" class="btn btn-warning" data-toggle="modal"
                                                        data-target="#repairModal">
                                                        Repair return
                                                    </button>
                                                </div>

                                                <!-- Product Modal -->
                                                <div class="modal fade" id="productModal" tabindex="-1" role="dialog"
                                                    aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close"><span
                                                                        aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">Select item
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <table id="productTable" class="display" cellspacing="0"
                                                                    width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th style="white-space: nowrap;">Item No
                                                                            </th>
                                                                            <th width="50%">Title</th>
                                                                            <th>Serial No</th>
                                                                            <th>Model No</th>
                                                                            <th>Status</th>
                                                                            <th>Updated</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default btn-sm"
                                                                    data-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Repair Modal -->
                                                <div class="modal fade" id="repairModal" tabindex="-1" role="dialog"
                                                    aria-labelledby="myModalLabel">
                                                    <div class="modal-dialog modal-lg" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close"><span
                                                                        aria-hidden="true">&times;</span></button>
                                                                <h4 class="modal-title" id="myModalLabel">Select item
                                                                </h4>
                                                            </div>
                                                            <div class="modal-body">
                                                                <table id="repairTable" class="display" cellspacing="0"
                                                                    width="100%">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Repair</th>
                                                                            <th>Item</th>
                                                                            <th>Description</th>
                                                                            <th>Out</th>
                                                                            <th>Approved</th>
                                                                            <th>Returned</th>
                                                                            <th>Customer</th>
                                                                            <th>Vendor</th>
                                                                            <th>Cost</th>
                                                                        </tr>
                                                                    </thead>
                                                                </table>
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-default btn-sm"
                                                                    data-dismiss="modal">Cancel</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Line Item Table-->
                                                <table class="table table-striped table-hover" width="100%">
                                                    <thead>
                                                        <tr>
                                                            <th>Item Received</th>
                                                            <th>Item Number</th>
                                                            <th>Repair Number</th>
                                                            <th>Repair Cost</th>
                                                            <th></th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr data-ng-repeat="lineItem in data.lineItems">
                                                            <td>
                                                                <textarea cols="70" rows="1" id="name"
                                                                    ng-model="lineItem.name"></textarea>
                                                            </td>
                                                            <td><a
                                                                    href="/#/app/item/{{lineItem.productId}}">{{lineItem.itemNumber}}</a>
                                                            </td>
                                                            <td ng-if="lineItem.repairId!=null"><a
                                                                    href="/#/app/repair/{{lineItem.repairId}}">{{lineItem.repairNumber}}</a>
                                                            </td>
                                                            <td ng-if="lineItem.repairId==null">
                                                                {{lineItem.repairNumber}}</td>
                                                            <td>
                                                                <div ng-if="lineItem.repairNumber!=null"
                                                                    class="input-group">
                                                                    <span class="input-group-addon">$</span>
                                                                    <input type="text" type="number" step="0.01"
                                                                        id="lineItemAmount"
                                                                        ng-model="lineItem.repairCost" size="7">
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button
                                                                    ng-if="data._id==null &&($index>0 || data.invoiceType != 'Partner')"
                                                                    type="button" class="btn btn-danger btn-sm"
                                                                    ng-click="removeItem($index)">
                                                                    <span class="glyphicon glyphicon-minus"></span>
                                                                    Remove
                                                                </button>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>

                        <div class="form-actions hidden-print">
                            <div class="row" ng-readonly="data._id!=null">
                                <div class="col-sm-offset-4 col-sm-7">
                                    <button type="submit" class="btn btn-primary" ng-click="go()"
                                        ng-disabled="logItemForm.$invalid">Save
                                    </button>
                                    <a href="/#/app/log">
                                        <button type="button" class="btn btn-inverse"> Cancel
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <!-- IMAGE GALLERY -->
    <div class="row gallery" data-ui-jq="magnificPopup" data-sn-gallery data-options="{ itemSelector: '.gallery-item'}"
        data-ui-options="{ delegate: '.thumbnail > a',  type: 'image', gallery: { enabled: true  } }">
        <div data-ng-repeat="item in images" class="col-sm-6 col-md-3 gallery-item" data-groups='{{item.groups}}'
            data-title="{{item.name}}">
            <div class="thumbnail">
                <a href="{{item.src}}"><img data-ng-src="{{item.src}}" alt="..."></a>
                <div class="caption hidden-print">
                    <h5 class="mt-0 mb-xs">{{item.name}}</h5>
                    <ul class="post-links">
                        <li><a href="#" ng-click="rotate(item.src,'left')"><span><i
                                        class="fa fa-rotate-left"></i></span></a></li>
                        <li><a href="#" ng-click="rotate(item.src,'left')"><span><i
                                        class="fa fa-rotate-right"></i></span></a></li>
                        <li><a href="#" data-toggle="modal" data-target="#deleteImageModal"
                                ng-click="delete(item.src)"><span><i class="fa fa-trash"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 js-shuffle-sizer"></div>
    </div>

    <!-- Delete image modal -->
    <div class="modal" id="deleteImageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete image</h4>

                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this image? </p>
                    <p><img src="{{selectedImage}}" style="max-width: 200px;" /></p>
                    <p> Delete cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="conFirmDelete()"
                        data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add image modal -->
    <div class="modal fade" id="addImagesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <section class="widget">
                        <header>
                            <h5><strong>Image Upload</strong></h5>
                        </header>
                        <div class="widget-body">
                            <form class="dropzone" action="/api/upload" data-dropzone action="#" id="myDropzone">
                                <input type="hidden" name="itemId" value="{{data._id}}" />
                            </form>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" ng-click="imagesAdded()"
                        data-dismiss="modal">OK
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>