

<div data-ng-controller="OutItemCtrl">

  <style>
    .form-group.required .control-label:after {
        content: " *";
        color: darkred;
    }

    #sig-canvas {
  border: 2px dotted #CCCCCC;
  border-radius: 10px;
  cursor: crosshair;
}
</style>


<script>
(function() {
  window.requestAnimFrame = (function(callback) {
    return window.requestAnimationFrame ||
      window.webkitRequestAnimationFrame ||
      window.mozRequestAnimationFrame ||
      window.oRequestAnimationFrame ||
      window.msRequestAnimaitonFrame ||
      function(callback) {
        window.setTimeout(callback, 1000 / 60);
      };
  })();

  var canvas = document.getElementById("sig-canvas");
  var ctx = canvas.getContext("2d");
  ctx.strokeStyle = "#222222";
  ctx.lineWidth = 4;

  var drawing = false;
  var mousePos = {
    x: 0,
    y: 0
  };
  var lastPos = mousePos;

  canvas.addEventListener("mousedown", function(e) {
    drawing = true;
    lastPos = getMousePos(canvas, e);
  }, false);

  canvas.addEventListener("mouseup", function(e) {
    drawing = false;
  }, false);

  canvas.addEventListener("mousemove", function(e) {
    mousePos = getMousePos(canvas, e);
  }, false);

  // Add touch event support for mobile
  canvas.addEventListener("touchstart", function(e) {

  }, false);

  canvas.addEventListener("touchmove", function(e) {
    var touch = e.touches[0];
    var me = new MouseEvent("mousemove", {
      clientX: touch.clientX,
      clientY: touch.clientY
    });
    canvas.dispatchEvent(me);
  }, false);

  canvas.addEventListener("touchstart", function(e) {
    mousePos = getTouchPos(canvas, e);
    var touch = e.touches[0];
    var me = new MouseEvent("mousedown", {
      clientX: touch.clientX,
      clientY: touch.clientY
    });
    canvas.dispatchEvent(me);
  }, false);

  canvas.addEventListener("touchend", function(e) {
    var me = new MouseEvent("mouseup", {});
    canvas.dispatchEvent(me);
  }, false);

  function getMousePos(canvasDom, mouseEvent) {
    var rect = canvasDom.getBoundingClientRect();
    return {
      x: mouseEvent.clientX - rect.left,
      y: mouseEvent.clientY - rect.top
    }
  }

  function getTouchPos(canvasDom, touchEvent) {
    var rect = canvasDom.getBoundingClientRect();
    return {
      x: touchEvent.touches[0].clientX - rect.left,
      y: touchEvent.touches[0].clientY - rect.top
    }
  }

  function renderCanvas() {
    if (drawing) {
      ctx.moveTo(lastPos.x, lastPos.y);
      ctx.lineTo(mousePos.x, mousePos.y);
      ctx.stroke();
      lastPos = mousePos;
    }
  }

  // Prevent scrolling when touching the canvas
  document.body.addEventListener("touchstart", function(e) {
    if (e.target == canvas) {
      e.preventDefault();
    }
  }, false);
  document.body.addEventListener("touchend", function(e) {
    if (e.target == canvas) {
      e.preventDefault();
    }
  }, false);
  document.body.addEventListener("touchmove", function(e) {
    if (e.target == canvas) {
      e.preventDefault();
    }
  }, false);

  (function drawLoop() {
    requestAnimFrame(drawLoop);
    renderCanvas();
  })();

  function clearCanvas() {
    canvas.width = canvas.width;
  }

  // Set up the UI
  var clearBtn = document.getElementById("sig-clearBtn");
  var submitBtn = document.getElementById("sig-submitBtn");
  clearBtn.addEventListener("click", function(e) {
    clearCanvas();
  }, false);

})();

</script>

    <div class="row">
        <div class="col-md-10">
            <h1 class="page-title"><span class="fw-semi-bold">Log Out</span></h1>
        </div>
        <div class="col-md-2" style="height: 50px;">

            <div ng-if="data._id">
                <div class="btn-group dropdown hidden-print">
                    <button class="btn btn-success dropdown-toggle" data-toggle="dropdown" data-original-title=""
                        title="">
                        &nbsp; Action &nbsp;
                        <i class="fa fa-caret-down"></i>
                    </button>

                    <ul class="dropdown-menu">
                        <li><a href="#" data-toggle="modal" data-toggle="modal" data-target="#addImagesModal"><i class="fa fa-image"></i> Add Images</a></li>
                        <li><a ng-click="print()"><i class="fa fa-print"></i> Print</a></li>
                        <li><a href="#" data-toggle="modal" data-toggle="modal" data-target="#eSignModal"><i class="fa fa-pencil"></i> e-Sign</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <section class="widget">
                <div class="widget-body">
                    <form class="form-horizontal" role="form" name="logItemForm">
                        <div class="row">
                            <div class="col-sm-12">

                                <fieldset>

                                    <div class="form-group" ng-if="data.date!=null">
                                        <label for="date" class="col-sm-3 control-label">Date</label>
                                        <div class="col-sm-8">

                                            <input type="text" id="date" class="form-control"
                                                value="{{data.date | date : 'MM/dd/y'}}" readonly="readonly">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="sentTo" class="col-sm-3 control-label">Sent
                                            To</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="customerName" class="form-control"
                                                ng-model="data.sentTo">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="sentTo" class="col-sm-3 control-label">Description</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="customerName" class="form-control"
                                                ng-model="data.description">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="receivedBy" class="col-sm-3 control-label">Sent
                                            By</label>
                                        <div class="col-sm-8">
                                            <input type="text" id="receivedBy" class="form-control"
                                                ng-model="data.user">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label for="comments" class="col-sm-3 control-label">Note/Comment</label>
                                        <div class="col-sm-8">
                                            <textarea id="comments" rows=6 cols="40"
                                                ng-model="data.comments"></textarea>
                                        </div>
                                    </div>

                                </fieldset>
                            </div>
                        </div>

                        <div class="form-actions hidden-print">
                            <div class="row" ng-readonly="data._id!=null">
                                <div class="col-sm-offset-4 col-sm-7">
                                    <button type="submit" class="btn btn-primary" ng-click="go()"
                                        ng-disabled="logItemForm.$invalid">Save
                                    </button>
                                    <a href="/#/app/log">
                                        <button type="button" class="btn btn-inverse"> Cancel
                                        </button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </div>

    <!-- IMAGE GALLERY -->
    <div class="row gallery" data-ui-jq="magnificPopup" data-sn-gallery data-options="{ itemSelector: '.gallery-item'}"
        data-ui-options="{ delegate: '.thumbnail > a',  type: 'image', gallery: { enabled: true  } }">
        <div data-ng-repeat="item in images" class="col-sm-3 col-md-3 gallery-item" data-groups='{{item.groups}}'
            data-title="{{item.name}}">
            <div class="thumbnail">
                <a href="{{item.src}}"><img data-ng-src="{{item.src}}" alt="..."></a>
                <div class="caption hidden-print">
                    <h5 class="mt-0 mb-xs">{{item.name}}</h5>
                    <ul class="post-links">
                        <li><a href="#" ng-click="rotate(item.src,'left')"><span><i
                                        class="fa fa-rotate-left"></i></span></a></li>
                        <li><a href="#" ng-click="rotate(item.src,'left')"><span><i
                                        class="fa fa-rotate-right"></i></span></a></li>
                        <li><a href="#" data-toggle="modal" data-target="#deleteImageModal"
                                ng-click="delete(item.src)"><span><i class="fa fa-trash"></i></span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 js-shuffle-sizer"></div>
    </div>

    <div ng-if="data.signatureDate">
      <b>Received {{data.signatureDate | date: 'MM/dd/y hh:mm'}} by</b>:<br/>
      <img ng-model="data.signature" src="{{data.signature}}"/>
    </div>

    <!-- eSignature Modal-->
    <div class="modal fade" id="eSignModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h1>E-Signature</h1>
            <p>Sign below to confirm receipt of items.</p>
          </div>
    
          <div class="modal-body" style="text-align: center;">
            <canvas id="sig-canvas" width="560" height="160">
              Browser not supported.
            </canvas>
          </div>
          <div class="modal-footer">
    
            <button class="btn btn-primary" id="sig-submitBtn" data-dismiss="modal" ng-click="esign()">Submit
              Signature</button>
            <button class="btn btn-default" id="sig-clearBtn">Clear Signature</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Delete image modal -->
    <div class="modal" id="deleteImageModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Delete image</h4>
                </div>
                <div class="modal-body">
                    <p>Are you sure you want to delete this image? </p>
                    <p><img src="{{selectedImage}}" style="max-width: 200px;" /></p>
                    <p> Delete cannot be undone.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="conFirmDelete()"
                        data-dismiss="modal">Delete</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Add image modal -->
    <div class="modal fade" id="addImagesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <section class="widget">
                        <header>
                            <h5><strong>Image Upload</strong></h5>
                        </header>
                        <div class="widget-body">
                            <form class="dropzone" action="/api/upload" data-dropzone action="#" id="myDropzone">
                                <input type="hidden" name="itemId" value="{{data._id}}" />
                            </form>
                        </div>
                    </section>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success btn-sm" ng-click="imagesAdded()"
                        data-dismiss="modal">OK
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>