<script>
    function selectLog(id) {
        document.location.href = "/#/app/log-item/" + id;
    }

</script>

<h1 class="page-title"><span class="fw-semi-bold">Log In Record</span></h1>

<section class="widget">

    <div class="widget-body">


        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
             aria-labelledby="myModalLabel">
            <div class="modal-dialog modal-sm" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            &times;
                        </button>
                        <h4 class="modal-title text-align-center fw-bold mt" id="myModalLabel18">
                            Select date</h4>
                        <p class="text-align-center fs-mini text-muted mt-sm">
                            Choose a date for which to run report.
                        </p>
                    </div>
                    <div class="modal-body bg-gray-lighter">
                        <form>
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <input id="selectedDate" type="text"
                                               class="form-control input-no-border"
                                               placeholder="MM/DD/YYYY" ng-model="selectedDate"
                                               ng-change="checkDate()">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">
                            Cancel
                        </button>
                        <button type="button" id="dateChangeButton" class="btn btn-success btn-sm"
                                ng-click="selectDate()" data-dismiss="modal">OK
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <div class="mt">

            <div class="btn-toolbar mt-lg">

                <a href="/#/app/log-item">
                    <button type="button" class="btn btn-primary">
        <span class="icon">
          <i class="fa fa-plus-circle"></i>
        </span>
                        New Item
                    </button>
                </a>
            </div>

            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th style="white-space: nowrap;">Date</th>
                    <th style="white-space: nowrap;">Received From</th>
                    <th style="white-space: nowrap;">Customer</th>
                    <th>Item Received</th>
                    <th style="white-space: nowrap;">Item #</th>
                    <th style="white-space: nowrap;">Repair #</th>
                    <th>By</th>
                    <th>Comments</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
