<div ng-if="!vm.auth.isAuthenticated()">
  <section class="cta">
    <div class="cta-content">

      <div class="container" align="right">
        <h2>Inventory Management System</h2>
        <a ng-click="vm.auth.login()" class="btn btn-outline btn-xl page-scroll">Log In</a>
      </div>
    </div>
  </section>
  <div class="overlay"></div>

</div>

<div ng-if="vm.auth.isAuthenticated()">

  <nav sn-navigation> </nav>
  <!-- This is the white navigation bar seen on the top. A bit enhanced BS navbar. See .page-controls in _base.scss. -->
  <nav class="page-controls navbar navbar-default" data-ng-include="'app/modules/core/navigation/navbar.html'"></nav>

  <div class="content-wrap">

    <!-- main page content. the place to put widgets in. usually consists of .row > .col-md-* > .widget.  -->
    <main id="content" class="content view-animate fade-up" role="main" data-ui-view>
    </main>

  </div>

</div>