<div class="container-fluid">
  <!-- .navbar-header contains links seen on xs & sm screens -->
  <div class="navbar-header">


    <ul class="nav navbar-nav">
      <li>
          <a class="hidden-sm hidden-xs" href="#" data-sn-action="toggle-navigation-state" title="Turn on/off sidebar collapsing" data-placement="bottom" data-tooltip>
          <i class="fa fa-bars fa-lg"></i>
        </a>
        <a class="visible-sm visible-xs" data-sn-action="toggle-navigation-collapse-state" href="#" title="Show/hide sidebar" data-placement="bottom" data-tooltip>
          <span class="rounded rounded-lg bg-gray text-white visible-xs"><i class="fa fa-bars fa-lg"></i></span>
          <i class="fa fa-bars fa-lg hidden-xs"></i>
        </a>
      </li>
    </ul>

    <!-- toggles chat -->
    <!--ul class="nav navbar-nav navbar-right visible-xs">
      <li>
        <a href="#" data-sn-action="toggle-chat-sidebar-state">
          <span class="rounded rounded-lg bg-gray text-white"><i class="fa fa-globe fa-lg"></i></span>
        </a>
      </li>
    </ul-->

    <!-- xs & sm screen logo -->
    <a class="navbar-brand visible-xs" href="index.html">
      <i class="fa fa-circle text-gray mr-n-sm"></i>
      <i class="fa fa-circle text-warning"></i>
      &nbsp;
      {{app.name}}
      &nbsp;
      <i class="fa fa-circle text-warning mr-n-sm"></i>
      <i class="fa fa-circle text-gray"></i>
    </a>
  </div>

  <!-- this part is hidden for xs screens -->
  <!-- uncomment for global search -->
  <div class="collapse navbar-collapse">
    <!-- search form! link it to your search server -->
    <!--form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <div class="input-group input-group-no-border">
                    <span class="input-group-addon">
                        <i class="fa fa-search"></i>
                    </span>
          <input class="form-control" type="text" placeholder="Search">
        </div>
      </div>
    </form-->
    <ul class="nav navbar-nav navbar-right">


      <li>
      </li>

      <li class="dropdown" data-dropdown>
        <a href class="dropdown-toggle" data-dropdown-toggle>

          <span ng-if="vm.profile.picture" class="thumb-sm avatar pull-left">
            <img class="img-circle" ng-src="{{ vm.profile.picture }}" class="avatar" alt="Welcome">
          </span>

          <span ng-if="!vm.profile.picture" class="thumb-sm avatar pull-left">
            <strong>Welcome</strong>
          </span>

          &nbsp;
          <strong>{{vm.profile.name}}</strong>


          <!--i class="fa fa-cog fa-lg"></i-->
        </a>
        <ul class="dropdown-menu">
          <li><a ng-click="vm.auth.logout()"><i class="fa fa-sign-out"></i> &nbsp; Log Out</a></li>
        </ul>
      </li>
      <!--li>
        <a href="#" data-sn-action="toggle-chat-sidebar-state">
          <i class="fa fa-globe fa-lg"></i>
        </a>
        <div id="chat-notification" class="chat-notification hide">
          <div class="chat-notification-inner">
            <h6 class="title">
              <span class="thumb-xs">
                  <img src="assets/images/people/a6.jpg" class="img-circle mr-xs pull-left">
              </span>
              Jess Smith
            </h6>
            <p class="text">Hey! What's up?</p>
          </div>
        </div>
      </li-->
    </ul>
  </div>
</div>
