
<style>
  .form-group.required .control-label:after {
    content: " *";
    color: darkred;
  }
</style>



<div data-ng-controller="LogItemCtrl">



<div class="row">
  <div class="col-md-10">
    <h1 class="page-title"><span class="fw-semi-bold">Log Item</span></h1>
  </div>
  <div class="col-md-2">

    <div ng-if="data._id">
      <div class="btn-group" data-dropdown>
      <button class="btn btn-success dropdown-toggle" data-dropdown-toggle data-original-title="" title="">
        &nbsp; Action &nbsp;
        <i class="fa fa-caret-down"></i>
      </button>

      <ul class="dropdown-menu">
        <li ng-disabled="true"><a href="#" data-toggle="modal" data-toggle="modal" data-target="#addImagesModal">Add Images</a></li>

        <li ng-if="data.itemNumber==null"><a ng-click="addToInventory()">Add to Inventory</a></li>

      </ul>
    </div>
    </div>

  </div>
</div>


  <!-- Add image modal -->
  <div class="modal fade" id="addImagesModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body">

          <section class="widget">
            <header>
              <h5><strong>Image Upload</strong></h5>
            </header>
            <div class="widget-body">
              <form class="dropzone" action="/api/upload" data-dropzone action="#" id="myDropzone">
                <input type="hidden" name="itemId" value="{{data._id}}" />
              </form>
            </div>
          </section>

        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-sm" ng-click="imagesAdded()" data-dismiss="modal">OK</button>
        </div>

      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12">

      <section class="widget">
        <div class="widget-body">
          <form class="form-horizontal" role="form" name="logItemForm">
            <div class="row">
              <div class="col-sm-12">
            <fieldset>

              <div class="form-group required">
                <label for="receivedFrom" class="col-sm-3 control-label">Received From</label>
                <div class="col-sm-8">

                  <select id="receivedFrom" class="selectpicker" data-selectpicker
                          data-width="auto" required  ng-model="data.history.receivedFrom" ng-readonly="data._id!=null">
                    <option></option>
                    <option>FexEx</option>
                    <option>UPS</option>
                    <option>USPS</option>
                    <option>Courier</option>
                    <option>Other</option>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label for="itemNumber" class="col-sm-3 control-label">Item Number</label>
                <div class="col-sm-8">
                  <input type="text" id="itemNumber" class="form-control"  ng-model="data.itemNumber" ng-readonly="data._id!=null">
                </div>
              </div>

              <div class="form-group required">
                <label for="title" class="col-sm-3 control-label">Item Received</label>
                <div class="col-sm-8">
                  <input type="text" id="title" class="form-control"  ng-model="data.history.itemReceived" required ng-readonly="data._id!=null">
                </div>
              </div>

              <div class="form-group">
                <label for="customerName" class="col-sm-3 control-label">Customer Name</label>
                <div class="col-sm-8">
                  <input type="text" id="customerName" class="form-control"  ng-model="data.history.customerName" ng-readonly="data._id!=null">
                </div>
              </div>

              <div class="form-group">
                <label for="receivedBy" class="col-sm-3 control-label">Received By</label>
                <div class="col-sm-8">
                  <input type="text" id="receivedBy" class="form-control" ng-model="data.history.receivedBy" ng-readonly="data._id!=null">
                </div>
              </div>

              <div class="form-group">
                <label for="comments" class="col-sm-3 control-label">Comments</label>
                <div class="col-sm-8">
                  <textarea id="comments" rows=6 cols="40"  ng-model="data.history.comments" ng-readonly="data._id!=null"></textarea>
                </div>
              </div>

              <div>

            </fieldset>

          </div>

          </div>

            <div class="form-actions">
              <div class="row">
                <div class="col-sm-offset-4 col-sm-7">
                  <button type="submit" class="btn btn-primary" ng-click="go()" ng-disabled="logItemForm.$invalid">Save</button>
                  <a href="/#/app/log"><button type="button" class="btn btn-inverse"> Cancel</button></a>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>
    </div>
  </div>





  <div>
    <table>
      <tr>
        <td data-ng-repeat="image in images">
          <img ng-src="{{image}}" width=70%>
        </td>
      </tr>
    </table>
  </div>



</div>
